/* Header */
.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header pleine largeur */
.adminHeader {
  background: #18d4c5;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Section gauche */
.leftSection {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerLogo {
  width: 80px;
  height: 80px;
  object-fit: contain;
  border-radius: 50%;
}

/* Texte */
.logoText {
  font-size: 28px;
  font-weight: bold;
  color: white;
  margin-left: 10px;
}

/* Icônes */
.icon {
  font-size: 22px;
  color: white;
  cursor: pointer;
}

.icon:hover {
  color: #ffea00;
}

/* Container principal */
.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

/* Conteneur du formulaire */
.container {
  width: 500px;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Titres */
.title {
  color: #333;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.subtitle {
  color: #444;
  font-size: 18px;
  margin-top: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Espacement entre les sections */
}

/* Espacer les champs input */
.input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Bouton de soumission */
.button {
  margin-top: 20px;
  background-color: #ff6b6b;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #e63946;
}

/* Styles pour les checkboxes */
.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
  font-size: 14px;
}

/* Espacer les checkboxes */
.checkboxGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 5px;
}

.label {
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

/* Style des sections */
.section {
  margin-bottom: 20px;
}
